.home {
    margin-left: 160px; 
    font-size: 28px;
    padding: 0px 10px;
}
.home__title {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}
.home__subtitle {
    margin: 0;
    font-size: 18px;
    opacity: 0.6;
}