.scroll-table table {
	width:100%;
	table-layout: fixed;
    border-collapse: collapse;
} 
/* Стили для скролла */
::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.table-column {
    background-color:#cfdaec;
    border: 1px solid;
    border-bottom: none;
}
.table-col {
    font-size: 16px;
    padding: 10px;
}
.table-col:not(:last-child) {
    border-right: 1px solid;
}
.table-col__inner {
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}
.table-col__sort::after {
    content: '';
    width: 16px;
    height: 15px;
    display: block;
    background-image: url(../../images/table-sort.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.table-col__inner_active {
    background-image: url(../../images/table-sort-active.svg);
}
.table-col__input {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
}
.table-row__list {
    border: 1px solid;
}
.table-row__list:hover {
    background:rgba(204, 204, 204, 0.5);
    transition: background 0.3s ease;
}
.table-row__item {
    border-right: 1px solid;
    font-size: 12px;
    padding: 10px;
    vertical-align: top;
}
.table-col__sect, .table-row__sect {
    width: 50px;
}
.table-row__sect {
    position: relative;
    padding: 10px;
}
.table-row__sect_active {
    background: #5981bd;
}

.scroll-table-body {
    height: 60vh;
	overflow-x: auto;
}

.table-row__btn {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../images/dots.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.dropdown-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dropdown {
    display: none;
    width: 160px;
    border: 1px solid;
    background-color:#cfdaec;
    position: absolute;
    top: 2px;
    right: 52px;
}

.dropdown_active {
    display: block;
}

.dropdown__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.dropdown__item {
    padding: 5px;
}
.dropdown__item:hover {
    background-color: #fff;
}
.dropdown__item:not(:last-child) {
    border-bottom: 1px solid;
}